sudo: false
language: python
cache:
  directories:
    - $HOME/.cache/pip
python:
    - "3.5"
    - "3.6"
install:
  - pip install -r requirements.txt
  - pip install -r requirements_dev.txt
  - pip install codecov
script: python setup.py test
after_success:
  - codecov