# For develop
python-dotenv
pylint
yapf

# For docs
sphinx
sphinx-autobuild
recommonmark
sphinx_rtd_theme

# For test
tox
pytest
pytest-runner
pytest-cov
pytest-html
pytest-pylint
pytest-sugar

# For release
zest.releaser
wheel